/* Global */

img{
  max-width: 100%;
  max-height: 100%;
}

input{
  margin-bottom: 10px;
}

.content-wrapper{
  background-image: url("img/Poker Table.png");
  background-size: cover;
}

.hidden{
  display: none;
}

/* Overlays */
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 200px;
  width: 100%;
  height: 100%;
  z-index: 1030;
  opacity: 1;
  background: white;
}

.overlay .box{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

#login{
  background-image: url("img/Poker Table.png");
  background-size: cover;
  z-index: 1031;
}

#login .box{
  width: 50%;
  margin-left: 25%;
}

.input-error{
  border-color: #f55;
}

/* Table and cards */

#shiny-tab-table .box{
  background-color: rgba(0,0,0,0);
  border: none;
}

#shiny-tab-table .box-header{
  display: none;
}

.players{
  text-align: center;
  font-weight: bold;
}
.players-top img{
  margin-bottom: 5px;
}
.players-bottom img{
  margin-top: 5px;
}
.player{
  display: inline-block;
  width: 10%;
  margin-right: 9%;
}
.player:last-child{
  margin: 0;
}
.player-inactive{
  display: none;
}
.player span{
  color: #000;
  background: #fff;
  padding: 2px 5px;
  border-radius: 10px;
}

#btn_deal{
  display: none;
}
.cards{
  max-width: 1200px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.card{
  margin-right: 1px;
  max-width: 15%;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  background-color: #000;
  border-radius: 5%;
}

.card-back{

}

.card-hidden{
  visibility: hidden;
}

#deck{
  box-shadow: 0 0 5px 4px #444;
  cursor: pointer;
}

/* Sidebar */
.skin-black .sidebar a,
.skin-black .treeview-menu>li>a{
  color: #eaeaea;
}
.skin-black .main-sidebar{
  background-color: #696969;
}
.skin-black .sidebar-menu>li.active>a, .skin-black .sidebar-menu>li:hover>a{
  background: #8f8f8f;
}
.skin-black .sidebar-menu>li>.treeview-menu{
  background-color: #7b7b7b;
}
.skin-black .sidebar-menu>li>.treeview-menu li :hover{
  color: white;
}

textarea{
  width: 100%;
  height: 218px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #f8f8f8;
  resize: none;
}

.box{
  margin-bottom: 15px;
}

.form-group{
  margin: 0;
}

.btn{
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.btn:last-child{
  margin-bottom: 0;
}

.box-header{
  white-space: nowrap;
}
.box-header .btn{
  overflow: visible;
}
.box-header .box-title{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.handsontable td{
  vertical-align: middle;
  word-wrap: break-word;
  cursor: cell;
}

.handsontable .htDimmed{
  cursor: not-allowed;
}

.shiny-table{
  overflow: hidden;
}

.shiny-notification-close{
  cursor: pointer;
  color: #200;
  padding: 2px;
}
.shiny-notification-close:hover {
  color: #755;
}

.action-button{
  z-index: 10;
}

.info-box{
  min-height: 60px;
  border-radius: 3px;
  overflow: hidden;
}

.info-box-icon{
  height: 60px;
  width: 60px;
  font-size: 36px;
  line-height: 60px;
}

.info-box-content{
  margin-left: 60px;
  height: 60px;
}
.info-box-number{
  font-size: 12px;
}

.disabled:hover{
  cursor: not-allowed;
}

/* messages */

.shiny-notification{
  z-index: 1050;
  position: fixed;
  top: calc(50% - 10px);
  left: calc(50% - 100px);
  width: 200px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  opacity: 0.95;
  word-wrap: break-word;
}

.notification-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  opacity: 0.5;
  z-index: 1030;
}

.shiny-notification{
  top: calc(50% - 100px);
}
.shiny-notification u{
  font-weight: bold;
}

/* Loading animation */
#loading{
  margin: 0;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 83px);
  z-index: 1035;
  opacity: 0.8;
}

.plotlybars {
  padding: 0 10px;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.plotlybars-wrapper {
  width: 166px;
  height: 100px;
  margin: 0 auto;
}

.plotlybars-text {
  color: #000;
  font-family: 'Open Sans', verdana, arial, sans-serif;
  text-align: center;
  margin-top: 5px;
  display: none;
}

.plotlybars-bar {
  background-color: #447adb;
  height: 100%;
  width: 20px;
  position: relative;
  float: left;
  margin-right: 1px;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-name: plotlybars-bar;

  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: plotlybars-bar;
}

.b1 { -webkit-animation-delay: -1.76s; animation-delay: -1.76s; }
.b2 { -webkit-animation-delay: --1.52s; animation-delay: -1.52s; }
.b3 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.b4 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
.b5 { -webkit-animation-delay: -0.52s; animation-delay: -0.52s; }
.b6 { -webkit-animation-delay: -1.34s; animation-delay: -1.34s; }
.b7 { margin:0; -webkit-animation-delay: -1.78s; animation-delay: -1.78s; }

@keyframes plotlybars-bar {
  0% { top: 100%; }
  50% { top: 0%; }
  100% { top: 100%; }
}
@-webkit-keyframes plotlybars-bar {
  0% { top: 100%; }
  50% { top: 0%; }
  100% { top: 100%; }
}